.window {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info {
    user-select: none;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.info h5 {
    color: rgb(148, 148, 148);
}

.createBtn {
    padding: 10px 20px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}
.createBtn:hover {
    opacity: 0.8;
}

.createBtn:active {
    transform: scale(0.8);
}

.modal {
    position: absolute;
    width: 30%;
    height: 40%;
    background-color: #fff;
    box-shadow: 0 0 10px 3px #b9b9b9;
    border-radius: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
}

.modal h1 {
    padding: 0;
}

.modal form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.modal form input {
    border: 1px solid #cfcfcf;
    outline: none;
    border-radius: 12px;
    padding: 8px 20px;
    font-size: 14px;
    letter-spacing: 0.04rem;
    font-weight: 600;
}

.submitBtn {
    background-color: #000;
    color: #fff;
}

.close {
    align-self: flex-end;
    margin: 16px 20px 0 0;
    border-radius: 50%;
    cursor: pointer;
}
.close:hover {
    border: 2px solid #cfcfcf;
}
